<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
  <title>Document</title>
</head>
<body >
  <div class="container " style="text-align: center; margin: 15rem auto; ">
    <h1 class="p-5" >
      Welcome TO My Art Collection 
    </h1>
    <div class="">
      <a class="btn btn-outline-primary ml-3 " href="{% url 'login' %}" role="button" 
      style="--bs-btn-font-size: 1.75rem;">
        Log in</a>
      <a class="btn btn-outline-primary" href="{% url 'register' %}" role="button"
      style="--bs-btn-font-size: 1.75rem;">
      Sign up</a>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>
</body>
</html>
    